.all-product-container {
  grid-column: 2/-1;
  // background-image: var(--);
  background-color: var(--color-grey-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  & .all-product {
    &-header {
      background: var(--bg-image-2-dark);
      padding: 1rem 2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & span {
        font-size: 4rem;
      }

      & p {
        color: var(--color-tertiary);
        font-weight: 300;
        font-size: 2.4rem;
      }
    }
    &-info {
      max-height: 80vh;
      width: 95%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      background: var(--bg-image-grad-purple);
      padding: 4rem;
      gap: 1rem;
      border-radius: 21px;

      &::-webkit-scrollbar {
        width: 1.4rem;
        padding: 0.5rem;
      }

      &::-webkit-scrollbar-track {
        display: block;
        padding: 1rem;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 31px;
        padding: 0.5rem;
      }

      &__lable {
        display: grid;
        grid-template-columns: 2.5fr 2.5fr 1fr 1fr;
        font-weight: 400;
        color: white;
        background-image: var(--bg-image-3-dark);
        gap: 1rem;
        padding: 1rem 2rem;
        border-radius: 21px;
        text-align: center;
        & span {
          width: 100%;
          //   margin-left: 2rem;
        }
      }

      &__row {
        display: grid;
        grid-template-columns: 2.5fr 2.5fr 1fr 1fr;
        background: var(--bg-image-2);
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        gap: 1rem;

        color: white;
        align-items: center;
        justify-items: center;
        text-align: center;

        & span {
          width: 100%;
          color: white;
          font-weight: 300;
          font-size: 1.8rem;
        }

        &-icons {
          display: flex;
          align-items: center;
          font-weight: 300;
          justify-items: center;
          gap: 1rem;
          font-size: 2.8rem;

          & a {
            text-decoration: none;
            color: white;
            transform: translateY(3px);
          }

          & svg {
            transition: all 0.4s;
            cursor: pointer;

            &:hover {
              transform: translateY(-2px);
            }
          }
        }
      }
    }
  }
  @media (max-width: 75rem) {
    grid-column: 1/-1;

    & .all-product {
      &-info {
        padding: 2rem;
        // &__lable,
        // &__row {
        // }
      }
    }
  }
  @media (max-width: 37.5rem) {
    grid-column: 1/-1;

    & .all-product {
      padding: 0.5rem;
      &-info {
        padding: 0rem;
        &__lable,
        &__row {
          padding: 0.5rem 1rem;
          & span {
            font-size: 1.6rem;
          }
          &-icons {
            gap: 0.1rem;
          }
        }

        &::-webkit-scrollbar {
          width: 0.8rem;
          padding: 0.5rem;
        }
      }
    }
  }
}
