.user-account-page {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  min-height: 80vh;
  position: relative;
  // justify-items: center;
  transition: all 0.5s;

  & .user-account-container {
    grid-column: 2/-1;
    padding: 10rem 13rem;
    width: 100%;
    display: flex;
    align-items: flex-start;

    justify-items: center;
    background: var(--bg-image-grad-grey-dark);
    // background: var(--bg-image-grad-purple);

    &__details {
      overflow: hidden;
      border-radius: var(--brr-sm);
      background: var(--bg-image-grad-grey-dark);
      padding: 2rem 10rem;
      display: flex;
      flex-direction: column;
      // align-items: center;
      box-shadow: var(--box-shadow-dark);
      width: 50%;
      margin: 0 auto;

      &__form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__pass-link {
          border: none;
          background-color: transparent;
          color: white;
          font-size: 1.6rem;
          border-bottom: 1px solid var(--color-green);
          width: fit-content;
          align-self: flex-end;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            transform: translateY(-1px);
          }
        }
      }
    }

    @media (max-width: 93.25em) {
      padding: 5rem;
      &__details {
        width: 60%;
      }
    }

    @media (max-width: 75em) {
      padding: 10rem 5rem;
      grid-column: 1/-1;
      margin: 0 auto;

      &__details {
        width: 55%;
      }
    }

    @media (max-width: 56.25em) {
      padding: 10rem 0rem;
      grid-column: 1/-1;
      margin: 0 auto;

      &__details {
        width: 70%;
      }
    }
    @media (max-width: 35.5em) {
      // padding: 0rem;
      grid-column: 1/-1;
      margin: 0 auto;

      &__details {
        width: 90%;
        padding: 2rem 7rem;
      }
    }

    @media (max-width: 25.2em) {
      // padding: 0rem;
      grid-column: 1/-1;
      margin: 0 auto;

      &__details {
        width: 90%;
        padding: 2rem 3rem;
      }
    }
  }
}
