@import "../Sacss/mixins.scss";

.products-page {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 5fr;
  position: relative;
  align-items: flex-start;
  min-height: 100vh;

  &__products {
    padding: 5rem;
    @include productCardContainer;
    // min-height: 80vh;
    // height: 100%;
    // height: fit-content;
  }

  @media (max-width: 93.5em) {
    &__products {
      padding: 5rem 2rem;
    }
  }

  @media (max-width: 75em) {
    &__products {
      padding: 5rem 2rem;
      grid-column: 1/-1;
    }
  }

  &__filter-btn {
    position: fixed;
    bottom: 4rem;
    left: 50%;
    font-size: 3rem;
    color: white;
    border: none;
    transform: translateX(-50%);
    background: var(--bg-image-grad-purple);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: none;
    @media (max-width: 75em) {
      display: block;
    }
  }
}
