@import "../Sacss/mixins.scss";

.products-page {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 5fr;
  position: relative;
  align-items: flex-start;
  min-height: 100vh;
  background: var(--bg-image-grad-grey-dark);

  &__products {
    padding: 5rem;
    @include productCardContainer;
    overflow: hidden;
  }

  @media (max-width: 93.5em) {
    &__products {
      padding: 5rem 2rem;
    }
  }

  @media (max-width: 75em) {
    &__products {
      padding: 5rem 2rem;
      grid-column: 1/-1;
    }
  }

  @media (max-width: 37.5em) {
    &__products {
      padding: 5rem 1rem;
      grid-column: 1/-1;
    }
  }

  &-pagination {
    grid-column: 1/-1;
    justify-self: center;
    display: flex;
    gap: 3rem;
    align-items: center;
    & span {
      justify-self: unset;
      margin: 0;
      padding: 0 0.3rem;
    }
  }

  // &__filter-btn {
  //   position: fixed;
  //   top: 9rem;
  //   left: 103%;
  //   font-size: 3rem;
  //   color: white;
  //   border: none;
  //   // transform: translateX(-50%);
  //   background: var(--bg-image-grad-purple);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   border-radius: 50%;
  //   width: 6rem;
  //   height: 6rem;
  //   display: none;
  //   @media (max-width: 75em) {
  //     display: block;
  //   }
  // }
}
