.category-card {
  max-width: 30rem;
  height: 25rem;
  border-radius: 9px;
  overflow: hidden;
  background-color: #adb5bd;
  box-shadow: var(--box-shadow-card);

  //
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  transition: all 0.4s;
  color: white;
  font-weight: 300;
  padding: 0rem 0 0.5rem 0;
  align-items: center;

  &:hover {
    transform: scale(1.02);
    box-shadow: var(--box-shadow-card-hover);
    color: var(--color-primary);
  }

  & img {
    display: block;
    width: 100%;
    height: 80%;
    background-color: white;
    object-fit: fill;
  }

  & span {
    font-size: 2.4rem;
    text-decoration: dotted;
    font-weight: 300;
    letter-spacing: 1.2px;
    // text-transform: ;
    // height: fit-content;
    margin: auto;
  }

  @media (max-width: 37.5em) {
    height: 25rem;
  }
}
