@import "./../../Sacss/mixins";

.home-brand {
  background: var(--bg-image-grad-grey-light);
  border-radius: var(--brr-regular);
  padding: 2rem 0 5rem 0;
  // padding-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__heading {
    align-self: center;
    text-align: center;
    // margin: 5rem auto;
    margin: auto;
    width: fit-content;
  }

  &__brands {
    // gap: 2rem;
    width: 100%;

    &-brand {
      width: 100% !important;
      justify-content: center;
      display: flex !important;
      height: 15rem;
    }

    .slick-slide {
      // margin: 0px 0px 27px;
    }

    /* the parent */
    .slick-list {
      // margin: 0 -27px;
      padding: 0;
      margin: 0;
    }
  }
}
