@import "./../Sacss/_mixins.scss";

.home-component {
  grid-column: 1/-1;
  z-index: 1;
  @include displayGridMain;
  background: var(--bg-image-grad-purple);
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .home-element {
    grid-column: full-start/full-end;
    padding: 5rem 15rem;
    background: var(--bg-image-grad-grey-dark);
    border-radius: var(--brr-regular);
    box-shadow: var(--box-shadow-dark);

    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      // top: 0;
      bottom: 0;
      left: 0;
      // background: var(--bg-image-grad-purple-2);
      width: 100%;
      // height: 2px;
    }

    &:last-child {
      &::after,
      &::before {
        height: 0px;
      }
    }

    &::before {
      bottom: 0;
      top: auto;
    }

    @media (max-width: 75em) {
      grid-column: full-start/full-end;
      // padding: 2rem;
      padding: 5rem 5rem;

      border-radius: 0;
    }
    @media (max-width: 56.25em) {
    }
    @media (max-width: 37.5em) {
      // padding: 1rem;
      padding: 4rem;
    }
  }
}
