.add-element__form-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__lable {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: 0.5rem;
  }

  &__input {
    width: 35rem;
    padding: 0.5rem 1rem;
    font-size: 2.4rem;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 11px;
    border: none;
    &::-ms-browse {
      border: none;
      background-color: wheat;
    }

    &:focus {
      outline: none;
    }
  }
}

#product-cover-image {
  z-index: 2;
  position: relative;
  // width: 50%;

  &::before {
    content: "Choose Cover Image";
    display: block;
    position: absolute;
    // justify-self: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: var(--bg-image-grad-purple);
    z-index: 30;
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
  }
}

#product-images {
  z-index: 2;
  position: relative;
  // width: 50%;
  &::before {
    content: "Choose Image";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: var(--bg-image-grad-purple);
    z-index: 30;
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
  }
}
