.header-component {
  position: sticky;
  grid-column: full-start/full-end;
  background: var(--bg-image-grad-purple);
  z-index: 2;
  padding: 1rem 3rem;
  transition: all 0.5s;

  & .header-nav {
    display: flex;
    align-items: center;
    justify-items: space-between;

    &__icon-menu {
      color: white;
      display: none;
      align-items: center;
      font-size: 4.8rem;
      margin-right: 3rem;
      cursor: pointer;
      @media (max-width: 56.25rem) {
        display: flex;
      }
    }

    &__logo {
      height: 50%;
      & img {
        display: block;
        width: 20rem;
        object-fit: contain;
      }

      @media (max-width: 56.25rem) {
        height: 7rem;
        & img {
          display: block;
          width: 20rem;
          height: 100%;
          object-fit: scale-down;
        }
      }
    }

    &__open-links {
      margin-left: auto;
      display: flex;

      gap: 4rem;
      justify-self: flex-end;
      list-style: none;

      &-logo {
        display: none;
      }

      @media (max-width: 93.75em) {
        gap: 2rem;
      }

      @media (max-width: 75em) {
        gap: 0.5rem;
      }

      @media (max-width: 56.25em) {
        position: fixed;
        top: 0;
        gap: 1rem;
        left: 0%;
        z-index: 9;
        background: var(--bg-image-grad-purple);
        height: 100vh;
        width: fit-content;
        flex-direction: column;
        align-items: center;
        padding: 10rem 5rem;
        // display: none;
        transition: all 0.5s;
        transform: translateX(-100%);

        &-open {
          transform: translateX(0%);
        }

        & .close-btn {
          position: absolute;
          top: 1rem;
          right: 2rem;
          font-size: 5rem;
          color: rgb(255, 255, 255);
          cursor: pointer;
        }

        &-logo {
          display: block;
          & img {
            display: block;
            width: 25rem;
            object-fit: contain;
          }

          @media (max-width: 56.25rem) {
            height: 9rem;
            & img {
              display: block;
              width: 25rem;
              height: 100%;
              object-fit: scale-down;
            }
          }
        }
      }

      @media (max-width: 18.75em) {
        padding: 10rem 2rem;
      }

      & .header-nav__open-item {
        padding: 1rem 0rem;
      }

      & a {
        text-decoration: none;
        color: var(--color-grey-dark);
        font-size: 1.9rem;
        font-weight: 300;
        letter-spacing: 1.2px;
        padding: 0.5rem 1rem;
        color: rgb(255, 255, 255);
        transition: all 0.3s;
        border-bottom: 2px solid transparent;

        @media (max-width: 56.25em) {
          font-size: 3.2rem;
        }
        &:hover {
          outline: none;
          border-bottom: 2px solid var(--color-tertiary);
        }
      }
    }

    &__search-box {
      width: 25rem;

      & input {
        font-size: 2.4rem;
        padding: 0.1rem 1rem;
        border: none;
        width: 100%;
        border-bottom: 2px solid greenyellow;

        &:active {
          border-bottom: 2px solid green;
        }
      }
    }

    &__cta {
      margin-left: auto;
      display: flex;
      gap: 0.5rem;
      justify-self: flex-end;
      gap: 3rem;

      &-cart {
        position: relative;
        & span {
          position: absolute;
          top: 0;
          right: 0;
          width: 2rem;
          height: 2rem;
          // padding: 0.5rem;
          border-radius: 100%;
          background: var(--bg-image-1-dark);
          color: black;
          font-weight: 600;
          transform: translate(40%, -40%);
          font-size: 1.4rem;
          z-index: 2;
          text-align: center;
        }
      }

      &-icons {
        font-size: 2.7rem;
        // color: var(--color-grey-dark);
        color: white;
        cursor: pointer;
        transition: all 0.3s;

        @media (max-width: 56.25rem) {
          font-size: 3.6rem;
        }

        &:hover {
          transform: scale(1.2);
        }
      }

      & .header-nav__open-link {
        position: relative;
        &__sub-link {
          height: 0px;
          width: 0px;
          position: absolute;
          top: 100%;
          right: 0;
          background: var(--bg-image-grad-purple);
          display: flex;
          width: fit-content;
          flex-direction: column;
          opacity: 0;
          pointer-events: none;
          transition: all 0.3s;
          justify-content: center;
          align-items: center;
          height: fit-content;
          z-index: 2;

          &-open {
            pointer-events: all;
            height: fit-content;
            opacity: 1;
            width: fit-content;
            gap: 0.8rem;
            padding: 1rem 2rem;
          }

          & span {
            color: white;
            font-size: 1.8rem;
            cursor: pointer;
          }

          @media (max-width: 56.25em) {
            &-open {
              padding: 1rem 3rem;
            }
            & span {
              font-size: 2.6rem;
            }
          }
        }
      }
    }
  }
  & .header-nav__links {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    height: 100%;
    width: 100%;

    z-index: 100;
    transition: all 0.5s ease-in-out;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 0;
      background-image: linear-gradient(rgba(0, 0, 0, 1), rgb(0, 0, 0));
      // border-radius: var(--brr-bg);
      width: 100%;
      height: 100%;
      padding: 15rem 0 5rem 0;
      &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 30%;
        margin-bottom: 5rem;

        & input {
          font-size: 2.4rem;

          background-color: rgb(255, 255, 255);
          box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.3);
          outline: none;
          border: none;
          padding: 0.5rem 1rem;
          width: 100%;

          border-radius: 200px;
          &:focus {
            outline: none;
          }
        }
      }

      & li {
        display: flex;
        justify-content: center;
        padding: 0;
      }

      & a {
        text-decoration: none;
        padding: 1rem 8rem;
        justify-content: center;
        display: flex;
        font-weight: 100;
        width: 100%;

        color: rgb(255, 255, 255);
        // display: block;
        width: 100%;
        font-size: 2.4rem;
        position: relative;
        z-index: 4;
        letter-spacing: 1.1px;

        &::after {
          content: "";
          position: absolute;
          bottom: 0%;
          left: 0;
          width: 3px;
          display: block;
          height: 100%;
          transform: scaleY(0);
          background-image: var(--bg-image-1);
          z-index: -1;
          transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s;
          border-radius: 30px;
        }

        // &:hover {
        //   color: ;
        // }

        &:hover::after {
          width: 100%;
          transform: scaleY(1);
        }
      }

      & .footer {
        color: rgb(255, 255, 255);
        margin-top: auto;
        margin-bottom: 5rem;
        align-self: center;
        font-size: 1.4rem;
      }
    }
  }

  & .open {
    transform: translateX(0);
  }
  ///////////

  @media (max-width: 37.25em) {
    padding: 1rem;
  }
}
