.checkout {
  grid-column: full-start/full-end;
  width: 100%;
  // min-height: 80vh;

  &-form-address {
    background: var(--bg-image-grad-grey-light);
    padding: 3rem 20rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: flex-start;

    & h3 {
      grid-column: 1/-1;
    }

    &-row {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__input {
        font-size: 2rem;
        padding: 0.3rem 1rem;
        font-family: inherit;
        border: none;
        outline: none;
        width: 100%;
        border-radius: 7px;
        border: 1px solid var(--color-grey-light);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);

        &-lable {
          font-size: 1.8rem;
          color: white;
          margin-left: 1rem;
        }

        &::-webkit-scrollbar {
          width: 1.6rem;
          padding: 0.5rem;
          position: absolute;
          top: 0;
          left: 0;
        }

        &::-webkit-scrollbar-track {
          display: block;
          padding: 1rem;
          background: var(--bg-image-2-dark);
          border-radius: var(--brr-regular);
        }

        &::-webkit-scrollbar-thumb {
          background: var(--bg-image-1);
          border-radius: 31px;
          padding: 0.5rem;
        }
        &-address-1 {
          grid-column: 4/-1;
        }
      }
    }

    @media (max-width: 92.5em) {
      padding: 2rem 15rem;
    }

    @media (max-width: 75em) {
      padding: 2rem 6rem;
    }

    @media (max-width: 56.25em) {
      padding: 2rem 4rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 37.25em) {
      padding: 2rem 10rem;
      grid-template-columns: repeat(1, 1fr);
    }
    @media (max-width: 25em) {
      padding: 2rem 4rem;
    }
  }

  &-form-payment {
    height: fit-content;
    padding: 2rem;
    border-radius: 9px;
    overflow: hidden;
    width: 100%;
    background: var(--bg-image-grad-purple);
    justify-self: center;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .heading-3 {
      font-size: 2.8rem;
    }

    &__error {
      align-self: center;
      font-size: 1.6rem;
      text-align: center;
      color: var(--color-primary);
      margin-bottom: 1rem;
    }

    &__methods {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      color: white;
      font-size: 2.4rem;
      &-row {
        gap: 1rem;
        align-items: center;
        display: flex;
        position: relative;

        & .radio-label {
          padding-left: 3rem;

          & .radio-btn {
            width: 1.8rem;
            height: 1.8rem;
            border: 2px solid var(--color-secondary);
            border-radius: 200pc;
            margin-top: 0.3rem;
            display: flex;
            align-items: center;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-60%);
            // transform: ;

            &::after {
              content: "";
              position: absolute;
              display: block;
              top: 50%;
              left: 50%;
              width: 0.6rem;
              height: 0.6rem;
              transform: translate(-50%, -50%);
              border-radius: 100%;
              background-color: white;
              opacity: 0;
            }
          }
        }

        & .radio-input {
          display: none;
        }

        & .radio-input:checked ~ .radio-label .radio-btn::after {
          opacity: 1;
        }
      }
    }
  }
  &-form__submit-btn {
    margin-top: 3rem;
    // text-align: center;
    align-self: flex-end;
    justify-self: end;
    grid-column: 1/-1;
    margin-right: 2rem;
  }
}
