.single-product__section-3 {
  grid-column: 1/-1;
  min-height: 30rem;
  width: 100%;
  // background-color: var(--color-grey-medium);
  border-radius: var(--brr-regular);

  // & .user-reviews {
  // }

  @media (max-width: 75rem) {
    grid-column: full-start/full-end;
  }
}
