.top-product-slider {
  width: 100%;
  grid-column: center-start/center-end;
  padding: 3rem 4rem 5rem 4rem;

  &__container {
    &-item {
      padding: 2rem 0;
      display: flex !important;
      justify-content: center;

      &-inner {
        width: 95% !important;
        align-self: stretch !important;
        justify-content: stretch !important;
      }
    }
  }
}
