// .update-product-container {
//   grid-column: 2/-1;
//   background: var(--color-grey-dark);
//   padding: 2rem 5rem 5rem 5rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 5rem;

//   & .update-product-form {
//     width: 100%;
//     background: var(--bg-image-grad-purple);
//     border-radius: 31px;
//     padding: 3rem;
//     box-shadow: 0 5rem 5rem rgba(0, 0, 0, 0.3);
//     gap: 3rem;
//     align-items: center;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-evenly;

//     &-row {
//       display: flex;
//       flex-direction: column;
//       gap: 0.5rem;

//       &__lable {
//         color: white;
//         font-size: 1.8rem;
//         font-weight: 400;
//         margin-left: 0.5rem;
//       }

//       &__input {
//         width: 35rem;
//         padding: 0.5rem 1rem;
//         font-size: 2.4rem;
//         font-family: inherit;
//         font-weight: inherit;
//         border-radius: 11px;
//         border: none;
//         &::-ms-browse {
//           border: none;
//           background-color: wheat;
//         }

//         &:focus {
//           outline: none;
//         }
//       }
//     }

//     #product-cover-image {
//       z-index: 2;
//       position: relative;
//       // width: 50%;

//       &::before {
//         content: "Choose Cover Image";
//         display: block;
//         position: absolute;
//         // justify-self: flex-start;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         color: white;
//         background: var(--bg-image-grad-purple);
//         z-index: 30;
//         display: flex;
//         padding: 0.5rem 1rem;
//         align-items: center;
//       }
//     }

//     #product-images {
//       z-index: 2;
//       position: relative;
//       // width: 50%;
//       &::before {
//         content: "Choose Image";
//         display: block;
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         color: white;
//         background: var(--bg-image-grad-purple);
//         z-index: 30;
//         display: flex;
//         padding: 0.5rem 1rem;
//         align-items: center;
//       }
//     }
//     &-btn__container {
//       flex: 0 0 100%;
//       display: flex;
//       justify-content: center;
//     }
//   }

//   @media (max-width: 75rem) {
//     grid-column: 1/-1;
//   }
// }

.add-product-container {
  grid-column: 2/-1;
  // background: var(--bg-);
  // background-color: var);
  background-color: white;
  padding: 2rem 5rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 5rem;

  & .sidebar-toggle-icon {
    display: none;
  }
  & .add-product-form {
    width: 100%;
    background: var(--bg-image-grad-grey-light);
    border-radius: 31px;
    padding: 3rem;
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
    gap: 3rem;
    align-items: center;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 35rem));
    justify-content: space-evenly;

    & .heading-1 {
      grid-column: 1/-1;
      justify-self: center;
      margin-bottom: 1rem;
    }

    &-row {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &__lable {
        color: white;
        font-size: 1.8rem;
        font-weight: 400;
        margin-left: 0.5rem;
      }

      &__input {
        width: 35rem;
        padding: 0.5rem 1rem;
        font-size: 2.4rem;
        font-family: inherit;
        font-weight: inherit;
        border-radius: 11px;
        border: none;
        &::-ms-browse {
          border: none;
          background-color: wheat;
        }

        &:focus {
          outline: none;
        }
      }
    }

    #product-cover-image {
      z-index: 2;
      position: relative;
      // width: 50%;

      &::before {
        content: "Choose Cover Image";
        display: block;
        position: absolute;
        // justify-self: flex-start;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        background: var(--bg-image-grad-purple);
        z-index: 30;
        display: flex;
        padding: 0.5rem 1rem;
        align-items: center;
      }
    }

    #product-images {
      z-index: 2;
      position: relative;
      // width: 50%;
      &::before {
        content: "Choose Image";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        background: var(--bg-image-grad-purple);
        z-index: 30;
        display: flex;
        padding: 0.5rem 1rem;
        align-items: center;
      }
    }
    &-btn__container {
      grid-column: 1/-1;
      display: flex;
      justify-content: center;
    }
  }

  @media (max-width: 75em) {
    grid-column: 1/-1;
  }

  @media (max-width: 75em) {
    & .sidebar-toggle-icon {
      position: absolute;
      display: block;
      top: 2vh;
      left: 1vh;
      color: white;
      font-size: 3rem;
      z-index: 1006;
    }
  }
}
