.form-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &-input {
    border: none;
    padding: 0rem 2rem;
    font-size: 2.4rem;
    border-radius: 7px;
    width: 100%;
    font-family: inherit;
    padding: 0.5rem 1rem;
    flex: 0 0 70%;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
    outline: none;
    border: 1px solid var(--color-grey-light);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: fit-content;
    transition: all 0.3s;

    &--invalid {
      border-bottom: 3px solid #ff1414;
    }

    &--valid {
      border-bottom: 3px solid rgb(0, 255, 106);
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    &--white {
      color: white;
    }

    & label {
      margin-left: 1rem;
      color: inherit;
      font-size: 1.8rem;
    }

    &__error {
      color: var(--color-primary);
      font-size: 1.4rem;
    }
  }

  & .form-input {
    flex: 0 0 100%;
    width: 100%;
    position: relative;

    &-svg {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      font-size: 2rem;
      cursor: pointer;

      &--open {
        color: var(--color-primary);
      }
    }
  }
}
