@import "./../Sacss/mixins";

$--signup-transition-time: 0.3s;

.signup-form-outer {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1002;
  transform: translate(-50%, -50%);
  background-size: cover;
  // border-radius: 31px;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.09);
  overflow: hidden;
  padding: 0;
  padding-top: 1rem;
  // background-image: var(--bg-image-1-);
  background: var(--bg-image-grad-grey-dark);

  &-open {
    animation: signupFormAnimation $--signup-transition-time ease-out forwards;
  }
  &-closed {
    animation: closesignupFormAnimation $--signup-transition-time ease-out
      forwards;
  }

  & .signup-form {
    padding: 5vh 3vw;
    // border-radius: 31px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    // background: var(--bg-image-grad-grey-light);
    // background: var(--bg-image-grad-purple);

    width: 70rem;
    color: white;

    @media (max-width: 37.5em) {
      width: 96vw;
    }

    &__close-icon {
      position: absolute;
      top: 2.5%;
      right: 2.5%;
      // color: white;
      font-size: 3rem;
      cursor: pointer;
    }

    &__link {
      // color: var(--color-grey-dark);
      // color: white;
      font-size: 1.4rem;
      margin-left: 1rem;
      align-self: flex-end;
      letter-spacing: 1.1px;
      list-style: none;
      color: inherit;
    }
  }

  @keyframes signupFormAnimation {
    0% {
      top: 100%;
      opacity: 0;
    }
    60% {
      top: 40%;
      opacity: 0.6;
    }
    100% {
      top: 50%;
      opacity: 1;
    }
  }
}
@keyframes closesignupFormAnimation {
  0% {
    top: 50%;
    opacity: 1;
  }
  60% {
    top: 40%;
    opacity: 0.7;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
