.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 1001;
}

.search {
  // background-color: rgb(138, 138, 138);
  padding: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 31px;
  display: flex;

  align-items: center;

  &-input {
    width: 50vw;
    font-size: 2.8rem;
    border: none;
    border-radius: 31px;
    padding: 0.8rem 1.6rem;
    position: relative;
    font-family: inherit;
    font-weight: 500;
    color: #111;
    // background: var(--bg-image-1);

    &:focus {
      border: none;

      // border: 1px solid var(--color-primary);
      outline: none;
    }
  }

  &-icon {
    font-size: 3rem;
    margin-left: 1rem;
    color: #111;
    transition: all 0.3s;
    transform: translateX(-180%) translateY(3px);

    &:hover {
      // color: var(--color-grey-light);
      color: var(--color-green);
      transform: translateX(-180%) translateY(3px) scale(1.2);
      cursor: pointer;
    }
  }
}
